<div fxLayout="column" fxLayoutGap="2%">
    <p></p>
    <div fxLayout="row" fxLayoutAlign="center center">
        <app-add-todo-button
            (addTodoDialogCloseEvent)="addTodoDialogCloseEventHandler()"
        ></app-add-todo-button>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-around center">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="todos">
                <th mat-header-cell *matHeaderCellDef>To Do</th>
                <td mat-cell *matCellDef="let todo">{{ todo.description }}</td>
            </ng-container>

            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef>Status</th>
                <td mat-cell *matCellDef="let todo">
                    {{ todo.status }}
                </td>
            </ng-container>

            <ng-container matColumnDef="editButton">
                <th mat-header-cell *matHeaderCellDef>Edit</th>
                <td mat-cell *matCellDef="let todo">
                    <button
                        mat-mini-fab
                        color="primary"
                        (click)="openEditTodoDialog(todo)"
                    >
                        <mat-icon> edit </mat-icon>
                    </button>
                </td>
            </ng-container>

            <ng-container matColumnDef="deleteButton">
                <th mat-header-cell *matHeaderCellDef>Delete</th>
                <td mat-cell *matCellDef="let todo">
                    <button
                        mat-mini-fab
                        color="warn"
                        (click)="openDeleteTodoDialog(todo)"
                    >
                        <mat-icon> delete </mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
        </table>
    </div>
</div>
